:root {
  --black-clr: #000000;
  --white-clr: #ffffff;
  --grey-clr: #c4c4c4;
  --yellow-clr: #f2a900;
  --blue-1-clr: #47a8c8;
  --blue-2-clr: #4d8af0;
  --blue-3-clr: #547bc0;
  --purple-1-clr: #6c63ff;
  --purple-2-clr: #5c60c4;
  --purple-3-clr: #6152c6;
  --purple-4-clr: #5f4fcb;
}
